body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
}
/* HEADER */
.header {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.header__nav {
}
.nav {
}
.nav__logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.nav__list {
}
.nav__item {
}
.nav__link {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}
.nav__link:hover,
.contacts__link:hover {
  color: #404bbf;
}
.nav__link:active {
  color: #404bbf;
}
.header__contacts {
}
.contacts {
}
.contacts__list {
}
.contacts__item {
}
.contacts__link {
  color: #434455;
  font-weight: 400;
  text-decoration: none;
}
.contacts__link--email {
}
.contacts__link--phone {
}
/* main */
.main {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section hero */
.hero {
  background-color: #2e2f42;
}
.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.0714;
  color: white;
}
.hero__button {
  letter-spacing: 0.04em;
  color: white;

  background: #4d5ae5;
}
.hero__button:hover {
  background: #404bbf;
}
/*  section features */
.features {
}
.features__title {
}
.features__list {
}
.features__item {
}
.features__subtitle {
  font-size: 20px;
  line-height: 1.2;
}
.features__text {
  font-weight: 400;
  color: #434455;
}
/*  sesction team  */
.team {
}
.team__title {
  line-height: 1.11111;
  font-weight: 700;
  font-size: 36px;
}
.team__list {
}
.team__item {
}
.team__photo {
}
.team__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team__position {
  color: #434455;
}
/* section portfolio */
.portfolio {
}
.portfolio__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
}
.portfolio__list {
}
.portfolio__item {
}
.portfolio__image {
}
.portfolio__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio__category {
  color: #434455;
}
/*  FOOTER */
.footer {
  background-color: #2e2f42;
}
.footer__logo {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer__text {
  color: #f4f4fd;
}
